.intro{
    width:90%;
    height:70vh;
    margin:0 auto;
    padding:40px;
    background: linear-gradient(90deg, rgba(29,228,159,0.96) 23%, rgba(121,255,231,0.96) 60%, rgba(219, 238, 235, 0) 93%) left/55% no-repeat, url('https://image-tc.galaxy.tf/wijpeg-cuzli1cv6an7uxu01ahtp1ws2/efate-pool-at-warwick-le-lagon-vanuatu.jpg?width=1300') right;
    border-radius: 20px;
    z-index:1;
}
.introText{
    width:30%;
    padding-left: 40px;
    font-size:20px;
}
.introText>h1{
    font-size:50px;
}
.overview{
    position: relative;
    top:-100px;
    box-sizing: border-box;
    display: flex;
    max-width: 1000px;
    margin:0 auto;
    justify-content: space-between;
    border:1px solid black;
    border-radius:20px;
    padding:20px 50px;
    z-index:2;
    background-color: white;
}
.overview>section{
    flex-grow:0.3;
    padding:10px;
}
.cost{
    display: flex;
    width:70%;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    padding:4px;
    border:1px solid black;
    border-radius: 10px;
}
.allFacility{
    width:300px;
    display: flex;
    gap:.5rem;
    justify-content: space-around;
}
.imageContainer{
    display: flex;
    width: 200px;
    gap:4px;
}
.preview{
    width:40px;
    height: 40px;
    border-radius: 50%;
}