.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:20px;
    /* background:white;
    color:black;
    background:rgb(36, 35, 35);
    color:rgba(255, 255, 255, 0.897); */
}
.contain{
    display: flex;
    flex-direction: column;
    width:60%;
    border:2px solid blueviolet;
    border-radius:10px;
    padding:20px;
    align-items: center;
}
.profile{
    box-sizing: border-box;
    width:80%;
    max-width: 500px;
    padding:40px;
}
.booking{
    box-sizing: border-box;
    width:90%;
    max-width:800px;
    text-align: center;
}
.card{
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding:20px 30px;
    justify-content: space-around;
    border:2px solid blueviolet;
    border-radius: 10px;
}
.name{
    display: flex;
    gap:16px;
}
.name img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.intro{
    /* background-color: rgb(56, 55, 55); */
    padding:30px;
    border-radius:20px;
}
.intro h3{
    color:rgb(124, 124, 124);
    margin:0;
}
.intro>div{
    display: flex;
    flex-direction: column;
}
.cell{
    display: flex;
    justify-content: space-between;
}
.cell>button, .btn{
    background:rgb(124, 124, 124);
    cursor:pointer;
    height:30px;
    border-radius: 4px;
    border:none;
    color:rgba(255, 255, 255, 0.897);
}
.footer{
    display: flex;
    justify-content: space-evenly;
}
.btn{
    background-color: red;
}
@media(max-width:830px){
    .contain{
        width: 80%;
    }
}
@media(max-width:660px){
    .card{
        padding:8px;
    }
    .profile{
        padding:20px;
    }
}
@media(max-width:500px){
    .contain,.profile{
        width:90%;
    }
}
@media(max-width:430px){
    .profile{
        width:100%;
        padding:10px;
    }
    .contain{
        width:90%;
        padding:10px;
    }
}