.modal{
    width:100%;
    height:100px;
    background:grey;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.header{
    display: flex;
    width:70%;
    justify-content: space-between;
    align-items: center;
}
.header>svg{
    height:30px;
    width: 30px;
    stroke: blueviolet;
    stroke-width: 2.5px;
    cursor:pointer;
}
.holder{
    z-index:5;
    position: absolute;
    padding:20px 10px;
    backface-visibility:hidden;
    align-self: center;
    background:grey;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    top:50%;
    left:31%;
    width:500px;
}
.btn{
    cursor: pointer;
}
/* .container{ */
    /* height:100vh; */
    /* background:rgba(255,255,255,0.2); */
/* } */
@media(max-width:1200px){
    .holder{
        left:26%;
    }
}
@media(max-width:900px){
    .holder{
        left:24%;
        width:400px;
    }
}
@media(max-width:660px){
    .holder{
        left:20%;
        width:350px;
    }
}
@media(max-width:540px){
    .holder{
        left:15%;
        width:300px;
    }
}
@media(max-width:430px){
    .holder{
        left:8%;
    }
}
@media(max-width:370px){
    .holder{
        width:250px;
    }
}