.aboutBlock{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap:20px;
    height:500px;
    align-items: center;
    text-align: center;
    padding: 0 40px;
}
.aboutBlock>img{
    width:600px;
    aspect-ratio: 3/2;
    border-radius:200px 0 200px 0;
}
.aboutBlock h1{
    font-size:40px;
}
.aboutBlock p{
    font-size:24px;
}
/* .aboutBlock>section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:100%;
} */
.left{
    flex-direction: row-reverse;
}
.left>img{
    border-radius: 0 200px 0 200px;
}