@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

.navbar{
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: 0 auto;
    align-items: center;
    position: sticky;
    padding:10px 5px;
    top:0px;
    background:white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    width:80px;
    height:50px;
}
.navlinkContainer{
    display: flex;
    width:60%;
    justify-content: space-between;
}
.navPills{
    width:100px;
    text-align: center;
    text-decoration: none;
    color:rgb(56, 55, 55);
    padding:8px 4px;
}
.rounded{
    border-radius:12px;
    background:black;
    color:white;
    border:2px solid rgb(63, 63, 63);
}